<figure id="modal">
  <button type="button">&#9587;</button>
  <figcaption></figcaption><br>
  <img>
</figure>
<header>
  <nav id="nav-box">
    <ul>
      <li><a href="/">Latest Content</a></li>
      <li><a href="/maps">Maps</a></li>
      <li><a href="/adventures">5e Adventures</a></li>
      <li class='nav-right'><a href="http://youtube.com"><img src="/assets/images/icon-youtube.png"></img></a></li>
      <li class='nav-right'><a href="http://pinterest.com"><img src="/assets/images/icon-pinterest.png"></img></a></li>
      <li class='nav-right'><a href="http://twitter.com"><img src="/assets/images/icon-twitter.png"></img></a></li>
    </ul>
  </nav>
  <button type="button" id="nav-button">&#9776;</button>
  <div><p>ign.is</p></div>
</header>
