---
---

$font-stack: Arial, Helvetica, sans-serif;
$heading-font-stack: Franklin Gothic Medium, Geneva, sans-serif;
$text-color-dark: #333;
$text-color-mid: #777;
$text-color-light: #AAA;

$link-color1: #8a220f;
$link-color2: #e63819;

$nav-color1: #ff6666;
$nav-color2: #de514f;
$nav-color-shadow: #936c6c;

$background-color: rgba(236, 230, 223, 1);
$selection-color: #675c8a;

$test-color: #777;

$side-padding: 0 20% 0 20%;
$side-padding-mobile: 0 5% 0 5%;
$box-padding: 1rem;

@mixin media-mobile {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

html, body {
  height: 100%;
  font: 16px $font-stack;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $link-color1;
}

a:hover {
  color: $link-color2;
}

::selection {
  color: white;
  background-color: $selection-color;
}

body {
  color: $text-color-dark;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

main {
  padding: $side-padding;
  flex: 1 0 auto;

  @include media-mobile {
    padding: $side-padding-mobile;
  }

  section {
    padding: $box-padding;
  }
}

article {
  h1 {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    font: normal 2.5rem $heading-font-stack;
  }

  p {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    text-indent: 0.5rem;
    text-align: justify;
    text-align-last: left;
  }

  aside {
    color: $text-color-light;
    font-size: 0.75rem;
    font-style: italic;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
  }
}

header, footer {
  flex: 0 0 auto;
}

header {
  text-align: left;
  margin-bottom: 1rem;

  div {
    position: relative;
    z-index: 0;
    padding: $side-padding;
    padding-top: 5rem;
    background-image: url("/assets/images/header-background.png");
    text-align: center;

    @include media-mobile {
      padding: $side-padding-mobile;
      padding-top: 5rem;
    }

    p {
      position: relative;
      z-index: 1;
      font: normal 4rem $heading-font-stack;
    }
  }

  div:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 9rem;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        $background-color 50%,
        rgba(0, 0, 0, 0) 100%
    );
  }

  nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: $side-padding;
    background-color: $nav-color1;
    box-shadow: 0px 4px 8px $nav-color-shadow;

    @include media-mobile {
      width: auto;
      padding: 0;
      box-shadow: 4px 4px 8px $nav-color-shadow;
      transform: translate(-100%, 3rem);
      transition: transform 0.5s ease;
    }

    a {
      padding: $box-padding;
      display: inline-block;
      text-decoration: none;
      color: inherit;
      transition: background-color 0.5s ease;

      @include media-mobile {
        display: block;
      }
    }

    a:hover {
      color: inherit;
      background-color: $nav-color2;
    }
  }

  button {
    position: fixed;
    z-index: 2;
    margin: 1rem 0 0 0;
    width: 3rem;
    height: 3rem;
    display: none;
    background-color: $nav-color1;
    box-shadow: 0px 4px 8px $nav-color-shadow;
    border: 0;

    @include media-mobile {
      display: block;
    }
  }
}

footer {
  text-align: center;
  padding: $side-padding;

  @include media-mobile {
    padding: $side-padding-mobile;
  }

  div {
    padding: $box-padding;
    background-color: $nav-color1;
  }
}
