---
---

$font-stack: Arial, Helvetica, sans-serif;
$heading-font-stack: Franklin Gothic Medium, Geneva, sans-serif;
$text-color-dark: #333;
$text-color-mid: #777;
$text-color-light: #AAA;

$link-color1: #c22;
$link-color2: #d80;

$nav-color1: #f33;
$nav-color2: #c22;
$nav-color-shadow: #866;

$background-color: rgba(248, 248, 248, 1);
$selection-color: #758;

$test-color: #777;

$side-padding: 0 20% 0 20%;
$side-padding-mobile: 0 5% 0 5%;
$box-padding: 1rem;

@mixin media-mobile {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

html, body {
  height: 100%;
  font: 16px $font-stack;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $link-color1;
}

a:hover {
  color: $link-color2;
}

::selection {
  color: white;
  background-color: $selection-color;
}

body {
  color: $text-color-dark;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

main {
  padding: $side-padding;
  flex: 1 0 auto;

  @include media-mobile {
    padding: $side-padding-mobile;
  }

  section {
    padding: $box-padding;
  }
}

.contents {
  h1 {
    text-align: center;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    font: normal 2.5rem $heading-font-stack;
  }

  ol {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    background-image: linear-gradient(
        to right,
        transparent 50%,
        $text-color-light 50%,
        $text-color-light calc(50% + 1px),
        transparent calc(50% + 1px),
    );

    @include media-mobile {
      display: block;
      background-image: none;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4rem);
    list-style-type: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;

    @include media-mobile {
      width: calc(100% - 4rem);
    }
  }

  li:hover {
    background-color: transparentize($nav-color1, 0.95);
  }

  a {
    text-decoration: none;
    color: inherit;
    flex: 0 0 auto;
  }

  h2 {
    padding-bottom: 0.5rem;
    font: normal 1.5rem $heading-font-stack;
  }

  h2:hover {
    text-decoration: underline;
  }

  img {
    width: 100%;
    height: 8rem;
    border: 1px solid transparent;
    object-fit: cover;
    //object-position: 0% 0%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }

  img:hover {
    border: 1px solid $text-color-dark;
  }

  aside {
    color: $text-color-light;
    font-size: 0.75rem;
    font-style: italic;
    padding-top: 1rem;
    margin: 0.5rem;
    text-align: right;
    flex: 0 0 auto;
  }

  p {
    text-indent: 0.5rem;
    flex: 1 0 auto;
  }
}

article {
  h1 {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    font: normal 2.5rem $heading-font-stack;
  }

  p {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    text-indent: 0.5rem;
    text-align: justify;
    text-align-last: left;
  }

  aside {
    color: $text-color-light;
    font-size: 0.75rem;
    font-style: italic;
    margin: 0.5rem;
    padding-bottom: 0.5rem;
  }

  hr {
    display: block;
    border: 0;
    min-height: 1px;
    background-color: $text-color-light;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
  }

  blockquote {
    color: $text-color-mid;
    margin: 1rem 2rem 1rem 1.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid $text-color-light;

    @include media-mobile {
      margin: 1rem 1rem 1rem 0.75rem;
      padding-left: 0.25rem;
    }

    p {
      padding: 0;
      text-indent: 0;
    }
  }

  table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1rem 1.5rem 1rem 1.5rem;
    table-layout: fixed;
    width: calc(100% - 3rem);

    @include media-mobile {
      margin: 1rem 1rem 1rem 1rem;
      width: calc(100% - 2rem);
    }
  }

  th, td {
    border: 1px solid $text-color-light;
    padding: 0.5rem;
  }

  th {
    border-bottom: 3px double $text-color-light;
    padding: 0.5rem;
  }

  tr:nth-child(even) {
    background-color: white;
  }

  // Overrule the paragraph indent when an image is the first element.
  p > img:first-of-type {
    margin-left: -0.5rem;
  }

  img {
    max-width: 100%;
    padding: 0;
    border-radius: 0.5rem;
    background-color: $text-color-light;
  }

  img:hover {
    cursor: zoom-in;
  }

  // Dirty hack to allow centering from markdown by sticking #center anchor
  // on image urls.
  p > img[src*='#center']:first-of-type {
      display: block;
      margin: auto;
  }

  img[src*='#center'] {
      display: block;
      margin: auto;
  }
}

@keyframes modal-anim {
  0% {transform: scale(1.1); border-radius: 0 80% 0 0; box-shadow: 45px -45px 45px black;}
  100% {transform: scale(1); border-radius: 0 0 0 0; box-shadow: 3px -3px 3px black;}
}

#modal {
  margin: 0;
  position: fixed;
  z-index: 99;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url("/assets/images/modal-background.png");
  width: 100%;
  height: calc(100vh - 4rem);
  display: none;
  text-align: center;
  padding-top: 4rem;
  overflow-y: auto;

  button {
    font-size: 1.5rem;
    font-weight: bold;
    color: $text-color-light;
    margin: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
  }

  button:focus {
    outline: 0;
  }

  button:hover {
    color: white;
  }

  figcaption {
    color: $text-color-light;
    font-size: 1rem;
    padding: 0.2rem;
  }

  img {
    max-width: 100%;
    background-color: $text-color-dark;
    box-shadow: 3px -3px 3px black;
    animation: modal-anim 0.5s;

    @include media-mobile {
      animation: none;
    }
  }
}

header, footer {
  flex: 0 0 auto;
}

header {
  text-align: left;
  margin-bottom: 1rem;

  div {
    position: relative;
    z-index: 0;
    padding: $side-padding;
    padding-top: 5rem;
    background-image: url("/assets/images/header-background.png");
    text-align: center;

    @include media-mobile {
      padding: $side-padding-mobile;
      padding-top: 5rem;
    }

    p {
      position: relative;
      z-index: 1;
      font: normal 4rem $heading-font-stack;
    }
  }

  div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 9rem;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        $background-color 50%,
        rgba(0, 0, 0, 0) 100%
    );
  }

  nav {
    width: 100%;
    height: 3.125rem;
    position: fixed;
    z-index: 3;
    top: 1rem;
    padding: $side-padding;
    background-color: $nav-color1;
    box-shadow: 0px 4px 8px $nav-color-shadow;
    box-sizing: border-box;
    overflow: hidden;

    @include media-mobile {
      width: auto;
      height: auto;
      padding: 0;
      box-shadow: 4px 4px 8px $nav-color-shadow;
      box-sizing: content-box;
      overflow: visible;
      transform: translate(-100%, 3rem);
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        @include media-mobile {
          float: none;
        }

        a {
          padding: $box-padding;
          display: inline-block;
          text-decoration: none;
          color: inherit;
          transition: background-color 0.5s ease;

          @include media-mobile {
            display: block;
          }
        }

        a:hover {
          color: inherit;
          background-color: $nav-color2;
        }
      }

      li.nav-right {
        float: right;

        @include media-mobile {
          float: none;
        }
      }
    }
  }

  #nav-button {
    position: fixed;
    z-index: 2;
    top: 1rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    display: none;
    background-color: $nav-color1;
    box-shadow: 0px 4px 8px $nav-color-shadow;
    border: 0;

    @include media-mobile {
      display: block;
    }
  }

  #nav-button:focus {
    outline: 0;
  }
}

footer {
  text-align: center;
  color: $text-color-light;
  background-color: $text-color-dark;
  background-image: url("/assets/images/footer-background.png");
  border-top: 2px solid $nav-color2;

  div {
    padding: $box-padding;
  }
}

footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  left: 0;
  top: 0;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.0) 100%
  );
}
