<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  </head>
  <body>
    {% include header.html %}
    <main>
      <section>
        <h1>{{ page.title }}</h1>
        <article>
        {{ content }}
        </article>
      </section>
    </main>
    {% include footer.html %}
    <script src="/assets/script/nav.js"></script>
  </body>
</html>
